.file:hover {
  cursor: pointer;
}

.toolbar {
  --background: rgb(0, 0, 0) !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.content img {
  object-fit: cover;
}

.video {
  width: 100%;
}

.video video {
  width: 100% !important;
}
