.landing {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-label {
  font-size: 0.9rem;
}
