.me-container {
  margin-top: 0.1rem;

  align-self: flex-end;
  display: flex;
  align-items: flex-start;
  max-width: 90%;
}

.me {
  background: var(--ion-color-primary);
  border-radius: 8px;
  margin-bottom: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.text {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
}

.file {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
}

.me p {
  color: var(--ion-color-primary-contrast);
  font-size: 1rem;
}
.me h6 {
  color: var(--ion-color-primary-contrast);
  font-size: 0.7rem;
}

.space {
  height: 0.5rem;
  width: 100%;
}

.author-name {
  flex-shrink: 0;
  margin-left: calc(1.1rem + 0.5rem + 0.5rem + 0.5rem);
}

.picture {
  flex-shrink: 0;
  height: calc(1.1rem + 0.5rem + 0.5rem);
  width: calc(1.1rem + 0.5rem + 0.5rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

.picture > img {
  height: calc(1.1rem + 0.5rem + 0.5rem);
  width: calc(1.1rem + 0.5rem + 0.5rem);
}
