
.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbar {
  width: 100%
}

.box {
  min-height: 20vh;
}

.boxexpanded {
  min-height: 50vh;
}

.mediarow {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  border: black;
}

.mediacard {
  height: 100%;
  max-height: 10vh;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gifpreview {
  object-fit: cover;
  max-height: 10vh;
  height: 100%;
}

.categorytext {
  position: absolute;
  left: 1vw;
  top: 1vh;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  
  color: white;
  font-size: 2vw;
  font-style: bold;
  margin: 0;

  text-shadow: 2px 2px gray;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: .025em;
  overflow-wrap: anywhere;
}
