.header {
  /* background: var(--ion-background-color); */
  /* height: 30%; */
  display: flex;
  flex-direction: column;
}

.memberName {
  font-size: x-large;
}

.image-row {
  width: 100% !important;
}
.content {
  width: 100%;
}

.image-row ion-col > * {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.memberTitle {
  font-size: x-large;
}

.newBackgroundColor {
  background-color: #fff;
}
.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}
.modal {
  padding: 10px;
  background-color: red;
}

.editGroup {
  font-size: large;
  padding: 10px;
}

.selected {
  text-underline-position: below;
}

.memberInfo {
  font-size: large;
  align-items: center;
  align-content: center;
  padding-bottom: 5px;
}

.empty-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  font-size: medium;
}

.addMembers {
  padding: 3%;
}

.contacts-list {
  background: var(--ion-background-color) !important;
}

.icon {
  padding-right: 1%;
}

.divider {
  height: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-image: aqua;
  padding-left: 5%;
}

.groupname {
  display: flex;
  font-size: x-large;
  padding-left: 7%;
  padding-bottom: 2%;
  padding-top: 15%;
}
.input {
  padding: 10px;
  margin: 10px;
}

/*
  FOR ADD MEMBER MODAL
*/
.contacts {
  font-size: large;
}

.close-label {
  font-size: large;
}

.add-label {
  font-size: medium;
}

.close-button {
  --padding-end: 20px !important;
}

/*
 FOR MEDIA
*/

.month {
  padding-left: 1%;
  font-size: large;
}

.grid {
  --ion-grid-columns: 15;
  --ion-grid-padding: 0px;
  --ion-grid-margin: 0px;
  --padding-inline-start: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 0px;

  /* --ion-grid-padding-xs:5px; */
  /* --ion-grid-padding-sm:5px; */
  /* --ion-grid-padding-md:5px; */
  /* --ion-grid-padding-lg:5px; */
  /* --ion-grid-padding-xl:5px; */
}
