.chat {
  /* background: var(--ion-background-color); */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat > ion-item {
  --background: var(--ion-background-color);
}

.info-button {
  height: 100%;
  width: 100%;
}

.title {
  overflow: hidden;
}