.contacts-list {
  background: var(--ion-background-color) !important;
}

.contacts-list ion-item-divider {
  border-bottom: 0px solid black;
}

.contacts-list > ion-item {
  --background: var(--ion-background-color) !important;
}
.contacts-list > ion-item:hover {
  --background: var(--ion-item-background) !important;
  cursor: pointer;
}

.empty-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.empty-contacts ion-icon {
  font-size: 4rem;
}

.empty-contacts ion-text {
  font-size: 1.2rem;
  text-align: center;
  width: 70vw;
}
