.toolbar {
  display: flex;
  flex-direction: row;
}

.file-view {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.col > * {
  position: absolute;
  right: -5px;
  top: -5px;
}

.col > *:hover {
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: -3px;
  top: -3px;
}

.close-button:hover {
  cursor: pointer;
}

.textarea {
  font-size: 0.97rem;
}

.gifArea {
  max-height: 60%
}