.others {
  align-self: flex-start;
  background: var(--ion-color-light);
  border-radius: 8px;
  margin-bottom: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 90%;
}

.others ion-text {
  color: var(--ion-color-light-contrast);
  font-size: 1.1rem;
}
